{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
  <link rel="icon" href="{% static 'favicon.png' %}" /></head>
</head>
<body>
  <div class="menu">
    <a href="{% url 'home:index' %}"><img class="logo" src="{% static 'logo_django.png' %}" width="100"></a>
    <ul class="menu-parent">
      <li><a href="{% url 'home:index' %}">Home</a></li>
      <li><a href="{% url 'home:blog' %}">Post</a>
        <ul class="menu-sub">
          <li><a href="{% url 'home:blog' %}1/">Post 1</a></li>
          <li><a href="{% url 'home:blog' %}2/">Post 2</a></li>
        </ul>
      </li>
      <li><a href="{% url 'home:poll' %}">Polls</a></li>
      <li><a href="{% url 'contact:index' %}">Contact</a></li>
    </ul>
  </div>
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
